name: tests

on:
  pull_request:
  push:
    branches: [main]

# Only allow one instance of this workflow for each PR.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: |
          3.10
          3.11
          3.12
        cache: 'pip'
        cache-dependency-path: |
          pyproject.toml
          requirements.txt
          tox.ini
    - run: pip install tox
    - run: tox -e py
